<header class="topbar">
  <div class="topbar-left">
    <div class="page-title"><%= title %></div>
  </div>
  <div class="topbar-right">
    <div class="user-pill"><%= userLabel %></div>
  </div>
</header>
